.page {
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.table-container {
  overflow-x: auto;
}
table {
  min-width: 500px;
}
.modal-content {
  border-radius: 10px;
}
.form-control {
  width: 100%;
}
.hidden {
  display: none;
}